//Variables
$backgroundClr: rgb(250,237,221);
$primaryFont: "Girassol", cursive;
$secondaryFont: "Roboto", sans-serif;
$thirdFont: "Sacramento", cursive;
$lightColoredText: rgb(158, 154, 154);


.mainHeader {
  font-family: $thirdFont;
  font-size: 4rem;
  text-align: center;
  margin: auto;
  
}

.subHeader {
  font-family: $secondaryFont;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  
}

.phoneHeader {
  background-color: $backgroundClr;
}

.phoneHeader h1 {
  font-family: $thirdFont;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.btnStyles {
  background-color: $backgroundClr;
  color: black;
  font-weight: bold;
}

.App-header {
    background-color: $backgroundClr;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: $primaryFont;
}

//Navbar Styles

.navbarStyles-container {
  background-color: $backgroundClr;
  
}

.logoStyle {
  font-family: $primaryFont;
  color: black;
  font-size: 3rem !important;
}

.navItem {
  color: $lightColoredText;
  font-family: $secondaryFont;
  font-size: 1.5rem;
}

//Top Image

.topImageCont {
  padding: 0;
   
}

.topImage {
  max-height: 100%;
  width: 100%;
  background-size: cover;

}



.textCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 244, 238);
    padding: 25px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 70%;
    h1 {
      font-family: $thirdFont;
      text-align: center;
      font-size: 4rem;
    }

    h5 {
      font-family: $secondaryFont;
      text-align: center;
    }
}



//Footer

.footerStyles {
  background-color: $backgroundClr;
  height: 100%;
  
}

.footerLink {
  color: $lightColoredText;
  font-family: $secondaryFont;
}

.footBarSpan {
  color: $lightColoredText;
}

//Classes

.mediaStyles {
  width: 100%;
  margin: 0;
}

.mediaStylesText {
  width: 125%;
}

.classImgStyles {
  height: 150px;
  width: 150px;
}

.classMediaContainer {
  margin: 0;
  padding: 0;
}

//Carousel

.carouselContainer h2 {
  font-size: 4rem;
  font-family: $thirdFont;
}

.carouselStyle {
  width: 75%;
}

.carousel-item > img { 
  width: 100%; 
}

.carousel-caption {
  background-color: rgba(248, 244, 238, 0.705);
  border-radius: 5px;
}

.carousel-caption h3, .carousel-caption p {
  color: black;
  font-family: $secondaryFont;
}

//Articles

.articleMediaStyle img {
  height: 200px;


}

.articleContainer {
  height: 500px;
}

.articleContainer p {
  font-size: 16px;
  font-family: $secondaryFont;
}

//Quick Tips Styles

.quickTipsStyles {
    height: 100%;
}

.quickTipsStyles .accordion-title {
  font-size: 2rem;
  font-family: $secondaryFont;
  border: solid grey 2px;
  border-radius: 5px;
  box-shadow: 10px 10px rgb(235, 232, 232, .5);
  margin: 10px 0px 10px 0px;
  background-color: $backgroundClr;
}

.quickTipsInner {
  font-size: 1.5rem;
  font-family: $secondaryFont;
  font-weight: bold;
  text-align: center;
}

//FAW

.faqStyles .accordion-title {
  font-size: 3rem;
  font-family: $secondaryFont;
  text-align: center;
  border: solid black 1px;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
  background-color: $backgroundClr;
}

.faqInner {
  font-size: 36px;
}

//Newsletter  

.newsletterStyles input,
.newsletterStyles button {
    font-size: 24px;
    border-radius: 0;
}

.newsletterStyles button {
    padding: 5px 75px 5px 75px;
}

//About

.myImage {
  height: 100%;
  width: 50%;
  right: 0;
}

.mediaBodyStyle h3 {
    padding: 20px 0px 10px 0px;
    font-family: $secondaryFont;
    text-align: center;
    font-size: 2rem;
}

.mediaBodyStyle address {
  text-align: center;
  font-family: $secondaryFont;
  font-size: 1.5rem;
}


